.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3rem 3rem 3rem;
  min-height: 100vh;
  background-color: var(--background);
}

.layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  margin-top: 20px;
}

.right_block {
  padding-top: 30px;
  width: 46%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.right_block > div {
  min-width: 350px;
}